<!--
{% if widget.wrap_label %}
    <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>{% endif %}{% include "django/forms/widgets/input.html" %}{% if widget.wrap_label %} {{ widget.label }}</label>
{% endif %}
-->
{% load static %}
<div class="chip">
    <!-- hidden input to hold the actual value -->
    <!-- TODO opzoeken hoe ik hier de value in krijg -->
    <input type="hidden" name="" value="" >
    <img src="{% static 'img/img_avatar.png' %}" width="96" height="96">
    {{ option.label }}
</div>