DJANGO_DEBUG=True
DJANGO_SECRET_KEY="xqd*+9#a&fdep_*ruqw=z_(rbv!$a82j^002qwzdh-(v*p)i^c"
DJANGO_ALLOWED_HOSTS="localhost"
DJANGO_DATABASE_USER="cecilia"
DJANGO_DATABASE_PASSWORD="12345"
DJANGO_DB_NAME="cecilia"
DJANGO_DATABASE_HOST="db"