{% extends "./base.html" %}
{% block content %}

<button>Toevoegen</button>

<table>
    <thead>
        <tr>
            <th> Username </th>
            <th class="right-align"> Acties </th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
            <tr>
                <td>{{u.user.username}}</td>
                <td class="right-align">
                    <button>Verwijderen</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}