{% extends "./base.html" %}
{% block content %}


<h3>Behren muziekstukken</h3>
<a class="button float-right" href="admin/createpiece">Toevoegen</a>
<table>
    <thead>
        <tr>
            <th> titel </th>
            <th class="right-align"> acties </th>
        </tr>
    </thead>
    <tbody>
        {% for piece in pieces %}
            <tr>
                <td>{{piece.title}}</td>
                <td class="right-align">
                    <a class="button" href="#">Wijzigen</a>
                    <a class="button" href="admin/deletepiece/{{piece.id}}">Verwijderen</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<h3>Beheren gebruikers</h3> 
<a class="button float-right" href="admin/createuser">Toevoegen</a>
<table>
    <thead>
        <tr>
            <th> Username </th>
            <th> Email </th>
            <th class="right-align"> Acties </th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td class="right-align">
                    <a class="button" href="#">Wijzigen</a>
                    <form class="single-button-form" method="post" action="admin/deleteuser/{{ u.pk }}">
                        {% csrf_token %}
                        <button type="submit">Verwijderen</button>
                    </form>
                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row">
    {% for t, l, z in label_types %}
        <div class="column">
            {{l}}
            <ul>
                {% for _, text in z %}
                    <li>{{text}}</li>
                {% endfor %}
            </ul>

            <form method="post" action="/musicmix/labels/{{t}}/add">
                {% csrf_token %}
                <input type="text" name="nieuwe" id="nieuwe">
                <button type="submit">
                    Toevoegen
                </button>
            </form>
        </div>
    {% endfor %}
</div>

{% endblock content %}