{% extends "./base.html" %}
{% block content %}

<a class="button" href="admin/createuser">Toevoegen</a>

<table>
    <thead>
        <tr>
            <th> Username </th>
            <th> Email </th>
            <th class="right-align"> Acties </th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
            <tr>
                <td>{{ u.username}}</td>
                <td>{{ u.email }}</td>
                <td class="right-align">
                    <form class="single-button-form" method="post" action="admin/deleteuser/{{ u.pk }}">
                        {% csrf_token %}
                        <button type="submit">Verwijderen</button>
                    </form>
                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row">
    {% for t, l, _ in label_types %}
        <div class="column">
            {{l}}
            <form method="post" action="/musicmix/labels/{{t}}/add">
                {% csrf_token %}
                <input type="text" name="nieuwe" id="nieuwe">
                <button type="submit">
                    Toevoegen
                </button>
            </form>
        </div>
    {% endfor %}
</div>

{% endblock content %}