<!DOCTYPE html>
<html lang="nl">
{% load static %}
<head>
    <title>Musicmix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>

<nav class="navigation">
    <section class="container">
        <a href="/musicmix" class="navigation-title">Cecilia</a>
        <ul class="navigation-list float-right">
            <li class="navigation-item">
                <a href="labels" class="navigation-link">Labels</a>
            </li>
                {% if user.is_superuser %}
                    <li class="navigation-item">
                        <a href="#admin-popover" class="navigation-link" data-popover>Admin</a>
                        <div class="popover" id="admin-popover">
                            <ul class="popover-list">
                                <li class="popover-item">
                                    <a href="{% url 'admin:index' %}" class="popover-link">Gebruikers</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
            {% if user.is_authenticated %}
                <li class="navigation-item">
                    <a href="logout" class="navigation-link">Logout</a>
                </li>
            {% else %}
                <li class="navigation-item">
                    <a class="navigation-link" href="login">Login</a>
                </li>
            {% endif %}
        </ul>
    </section>

</nav>

<div class="container">
    {% if messages %}
        <div class="centering-container">
            <div class="message-container hide-div">
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endif %}

    {% block content %}
    {% endblock content %}
</div>

<!-- for styles specific to the template -->
{% block styles %}

{% endblock styles %}

</body>
</html>