{% extends "./base.html" %}
{% block content %}
    <div class="row">
        <div class="column">
            <form method="post">
                {% csrf_token %}

                <table class="table">
                    <caption>Gekozen labels</caption>
                    <thead>
                        <tr>    
                            <th>Naam</th>
                            <th>Type</th>
                            <th>Geselecteerd</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in labels_sleutel.labels %}
                        <tr>
                            <td>{{ l.naam }}</td>
                            <td>{{ l.label_type }}</td>
                            <!-- Zorg ervoor dat dit gebeurt via een functie die in de template kan aangeroepen worden -->
                            <td><input value="{{ l.geselecteerd }}" type="checkbox" name="{{ l.naam }}|SLEUTEL"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <button type="submit">Opslaan</button>
            </form>
        </div>
        
    </div>
{% endblock content %}

