{% extends "./base.html" %}

{% block content %}

    <!-- I need to put some more info here -->
    
    <table>
    <thead>
        <tr>
            <th>Naam</th>
            <th>Active</th>
        </tr>
    </thead>
    
    <tbody>
    {% for piece in page_obj %}
        <tr>
            <td>{{ piece.title }}</td>
            <!-- Turn this into a checkbox -->
            <td>{{ piece.active }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>





    </div>
    
{% endblock content %}