{% extends 'musicmix/base.html' %}

{% block content %}
    <a href="{% url 'add_piece' %}" class="button">Toevoegen</a>
	<table class="table">
        <caption>Muziekstukken</caption>
        <thead>
        <tr>
            <th>Naam</th>
            <th>Actief</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        {% for foo in pieces %}
            <tr>
                <td>{{ foo.title }}</td>
                <td>{{ foo.active }}</td>
                <td>
                    <div style="display: flex; flex-direction: row; gap: 10px;">
                        <a href="{% url 'delete_piece' foo.pk %}" class="button fa fa-edit"></a>
                        <a href="{% url 'download_specific' foo.pk %}" class="button fa fa-trash"></a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}