{% extends "./base.html" %}

{% block content %}

    <!-- I need to put some more info here -->
    
    <table>
    <thead>
        <tr>
            <th>Naam</th>
            <th>Active</th>
        </tr>
    </thead>
    
    <tbody>
    {% for piece in page_obj %}
        <tr>
            <td>{{ piece.title }}</td>
            <!-- Turn this into a checkbox -->
            <td>{{ piece.active }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="pagination row">
            <div class="previous column">
                {% if page_obj.has_previous %}
                    <a class="button" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
            </div>
            <div class="current column">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </div>
            <div class="next column">
                {% if page_obj.has_next %}
                    <a class="button" href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
    </div>

    <!-- ik weet niet waar ik dit moet zetten. is het niet beter om dit in een apart component te zetten?-->
    <a href="/musicmix/download" class="mat-button md-filled-button" type="button">Download</a>
    
{% endblock content %}