{% extends 'musicmix/base.html' %}
{% block content %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Naam</th>
                <th class="float-right">Acties</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in profiles %}
                <tr>
                    <td>{{ profile.user.username }}</td>
                    <td class="float-right">
                        <form action="{% url 'remove_user' profile.id %}" class="single-button-form" method="post">
                            {% csrf_token %}
                            <input class="button" type="submit" value="Verwijder">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}