body {
    margin: 0;
}

.navigation {
    .navigation-list {
        list-style: none;
    }
    padding: 1em;
    background-color: #f4f5f6;
}

a {
    cursor: pointer;
}

ul.messages {
    margin: 1em;
    list-style: none;
    color: black;
    li {
        padding: 1.1em;
    }
    li.error {
        background-color: #c18282;
    }
    li.info {
        background-color: #28a745;
        color: white;
    }
}

.pagination {
    .current {
        text-align: center;
    }
    .next {
        text-align: right;
    }
    .previous {
        text-align: left;
    }
}
