body {
    margin: 0;
}

.navigation {
    .navigation-list {
        list-style: none;
    }

    .navigation-link {
        padding: 1em;
    }

    padding: 1em;
    background-color: #f4f5f6;
}

a {
    cursor: pointer;
}

ul.messages {
    margin: 1em;
    list-style: none;
    color: black;
    li {
        padding: 1.1em;
    }
    li.error {
        background-color: #c18282;
    }
    li.info, li.success {
        background-color: #28a745;
        color: white;
    }
}

.pagination {
    .current {
        text-align: center;
    }
    .next {
        text-align: right;
    }
    .previous {
        text-align: left;
    }
}

/* classes d'outils */
.right-align {
    text-align: right;
}

.float-right {
    float: right;
}

/* inspiration from W3Schools */

.chip-container {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.chip {
    margin-bottom: 10px;
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
  
.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.single-button-form {
    margin-bottom: 0;
    display: inline;
}

.label-list {
    list-style: none;
}
.list-button {
    float: right;
}